body {
  background: whitesmoke;
  color: #606060;
}

a {
  border-bottom: 1px solid whitesmoke;
  transition: all 1500ms ease;
}

a:hover {
  font-size: 1.01em;
  text-decoration: none;
  border-bottom: 1px solid #df691a;
}

.board-title {
  margin-bottom: 30px;
  padding-bottom: 12px;
  border-bottom: 15px solid #ededed;
}

.message-title {
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 15px solid #ededed;
}

.message-border {
  margin-bottom: 30px;
  padding: 12px;
  border-bottom: 15px solid #ededed;
}

.reply {
  margin-bottom: 35px;
  max-width: 50em;
}

.side-menu a {
  border-bottom: 0px solid whitesmoke;
}

.message-box {
  background: #fff;
  border-radius: 9px;
  margin: 15px 0;
  max-width: 50em;
  padding: 12px;
}

.comment {
  max-width: 50em;
}

.box {
  background: #fff;
  border-radius: 9px;
  margin: 15px 0;
  max-width: 20em;
  padding-top: 8px;
  padding-bottom: 18px;
  text-align: center;
  margin-left: 8%;
}
.tab {
  background: #fff;
  color: #898989;
  border-radius: 0px;
  border: 1px solid #E8E8E8;
  padding: 8px;
  transition: all 300ms ease !important;
}

.tab:hover {
  background: #FF6666;
  color: #fff;
  border-radius: 0px;
  border: 1px solid #E8E8E8;
}

.tab-active {
  background: #E8E8E8  !important;
  color: #898989 !important;
  border-radius: 0px !important;
  border: 1px solid #E8E8E8 !important;
}

.navbar-brand, .nav a {
  border-bottom: 0px solid whitesmoke;
}

.navbar-inverse {
  background: #FF6666;
}

.navbar {
  height: 41px;
}


.btn {
  transition: all 1000ms ease;
  border-radius: 3px;
  background: #FF6666;
}

button:focus {outline:0;}

.center {
    margin: 0 auto;
    text-align: center;
}

.mid {
  margin-left: 200px;
}

.main {
  margin-top: 60px;
}

.form-container {
    background: #e8e8e8;
    padding: 25px;
    max-width: 50em;
    margin-bottom: 55px;
}

.mob-menu-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}

.new {
  color: #FFECEC;
}

.new:hover {
  color: #FFF;
  background: #D74A4A;
}

.nav-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.nav-grid:after,
.nav-item:before {
    content: '';
    display: table;
}

.nav-grid:after {
    clear: both;
}

.nav-grid li {
    width: 6em;
    height: 6em;
    display: inline-block;
    margin: 1em;
}

.nav-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 7px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.nav-img-1 {
    background-size: cover;
    background-image: url(../images/1-b.png);
}

.nav-img-2 {
    background-size: cover;
    background-image: url(../images/2-b.png);
}

.nav-img-3 {
    background-size: cover;
    background-image: url(../images/3-b.png);
}

.nav-info {
    position: absolute;
    background: rgba(255, 38, 200, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.nav-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    margin: .1em auto;
    padding: 2.8em 0 0 0;
    height: 4.2em;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}

.nav-info p {
    color: #fff;
    padding: .3em 0px;
    font-style: italic;
    margin: 0 auto;
    font-size: 10px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 400ms ease-in-out 0.4s;
}

.nav-item:hover {
    cursor: pointer;
    box-shadow:
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.nav-item:hover .nav-info {
    transform: scale(1);
    opacity: 1;
}

.nav-item:hover .nav-info p {
    opacity: 1;
}

.margin-top {
  margin-top: 35px;
}

.ng-if-remove {
    -webkit-animation: fadeInRight 0.7s;
    animation: zoomIn 0.7s;
}

.ng-if-add {
    -webkit-animation: fadeOutUp 0.7s;
    animation: fadeOutUp 0.7s;
    display: block !important;
}

.animated > .ng-hide-remove {
    -webkit-animation: fadeInRight 0.7s;
    animation: zoomIn 0.7s;
}

.animated > .ng-hide-add {
    -webkit-animation: fadeOutUp 0.7s;
    animation: fadeOutUp 0.7s;
    display: block !important;
}

div[ui-view].ng-enter {
  -webkit-animation: zoomIn 0.8s;
  animation: zoomIn 0.8s;
}

.animated > .ng-enter {
  -webkit-animation: zoomIn 0.7s;
  animation: zoomIn 0.7s;
}

.animated > .ng-leave {
  -webkit-animation: fadeOutUp 0.7s;
  animation: fadeOutUp 0.7s;
  display: block !important;
}



@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: tomato;}
.collapsing ul li a, .in ul li a {color: #fff!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}
