<section class="margin-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-9">
        <div class="form-wrap">
          <h1>Edit Board</h1>
          <div class="form-container">
            <form role="form" ng-submit="updateBoard()" novalidate="novalidate" id="newboard-form" autocomplete="off">
              <div class="form-group">
                <label for="title" class="sr-only">title</label>
                <input ng-model="board.title" type="text" class="form-control" placeholder="Board Title">
              </div>
              <div class="form-group">
                <label for="text" class="sr-only">text</label>
                <textarea rows="4" cols="50" ng-model="board.text" class="form-control" placeholder="Board description"></textarea>
              </div>
              <br>
              <input type="submit" name="commit" class="btn-block btn btn-danger" value="Submit">
            </form>
          </div>
        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
