  <section class="margin-top">
    <h4 ng-if="user.success == 'false'">You need to be signed in to do that.</h4>
    <div ng-if="user.success == 'true'" class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-9">
          <div class="form-wrap">
            <h1>Create New Board</h1>
            <div class="form-container">
              <form role="form" name="boardForm" ng-submit="addBoard()" novalidate id="newboard-form" autocomplete="off">
                <div class="form-group" ng-class="{ 'has-error' : boardForm.title.$invalid && !boardForm.title.$pristine }">
                  <label for="title" class="sr-only">title</label>
                  <input ng-model="board.title" name="title" type="text" class="form-control" placeholder="Board Title" ng-minlength="5" required>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : boardForm.text.$invalid && !boardForm.text.$pristine }">
                  <label for="text" class="sr-only">text</label>
                  <textarea rows="4" cols="50" ng-model="board.text" name="text" class="form-control" placeholder="Board description" ng-minlength="5" required></textarea>
                </div>
                <br>
                <input type="submit" name="commit" class="btn-block btn btn-danger" value="Submit">
              </form>
            </div>
            <p ng-show="boardForm.title.$error.minlength" class="help-block">*Title must be at least 5 characters</p>
            <p ng-show="boardForm.text.$error.minlength" class="help-block">*Description must be at least 5 characters</p>
          </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section>
