<section class="margin-top" >
  <div class="mobile-menu hidden-md hidden-lg hidden-sm">
    <a ui-sref="newBoard" class="btn new">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Board
    </a>
  </div>
  <div ng-controller="BoardViewController">
    <h2>{{board.title}}</h2>
    <p>{{board.text}}</p>
    <small>By {{board.user_name}}</small>
    <div class='time'><small>On {{board.created_at}}</small></div>
    <div ng-cloak ng-if='board.user_name === user.name'>
      <a ui-sref="editBoard({id:board.id})" class='btn new btn-sm user-button' ng-cloak>Edit</a>
      <button ng-click="deleteBoard({id:board.id})" class='btn-sm btn new user-button' ng-cloak>Delete</button>
    </div>
  </div>
  <div ng-controller="MessageListController" class="margin-top">
    <h4 class="message-title">Messages</h4>
    <div ng-repeat="message in messages">
      <div class="message-box">
        <p>{{message.body}}</p>
        <small>By {{message.user_name}}</small>
        <div class='time'><a ui-sref="viewMessage({board_id:message.board_id, id:message.id})"><small>{{message.created_at}}</small></a></div>
        <div ng-cloak ng-if='message.user_name === user.name'>
          <a ui-sref="editMessage({board_id:message.board_id, id:message.id})" class='btn new btn-sm user-button' ng-cloak>Edit</a>
          <button ng-click="deleteMessage({board_id:message.board_id, id:message.id})" class="btn btn-danger btn-sm user-button" ng-cloak>Delete</button>
        </div>
      </div>
    </div>
    <div class="form-container">
      <form role="form" name="messageForm" ng-submit="addMessage({board_id:board.id})" novalidate id="message-form" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error' : messageForm.name.$invalid && !messageForm.name.$pristine }">
          <label for="body" class="sr-only">body</label>
          <textarea rows="4" cols="50" name="message" ng-model="message.body" class="form-control" placeholder="Leave a new message" ng-minlength="5" required></textarea>
 <p ng-show="messageForm.message.$error.minlength" class="help-block">Message must be at least 5 characters</p>
        </div>
        <br>
        <input type="submit" name="commit" class="btn-block btn btn-danger" value="Submit">
      </form>
    </div>
  </div>
</section>




